.header{
  width: 100%;
  height: 36px;
  background-color: #333;
}
.a1{
  font-size: 14px;
  line-height: 36px;
  text-decoration: underline;
  color: #cc9756;
  float: left;
}
.a1:hover{
  text-decoration: none;
  color: #fff;
}
.headinner {
  float: right;
}
.headinner ul li {
  float: left;
}
.headinner ul li a{
  line-height: 36px;
  color: #ccc;
  font-size: 12px;
}
.headinner ul li:hover a{
  color: #fff;
}
.xiala1{
  font-size: 12px;
  color: #ccc;
}
.line{
  width: 1px;
  height: 14px;
  background: #ccc;
  display: inline-block;
  margin: 12px 10px;
}
.li5{
  position: relative;
}
.xiala2{
position: absolute;
top: 36px;
right: -12px;
width: 85px;
color: #ccc;
display: none;
font-size: 14px;
background: #eee;
padding: 0 10px;
}
.xiala2 li{
  width: 70px;
  // margin: 5px auto;
  border-bottom: 1px solid #999;
}
.xiala3{
  position: absolute;
  top: 36px;
  right: 160px;
  width: 100px;
  color: #ccc;
  display: none;
  font-size: 14px;
  background: #eee;
  padding: 0 17px;
}
.xiala3 li{
  width: 70px;
  // margin: 5px auto;
  border-bottom: 1px solid #999;
}

.xiala2 li:hover{
  color: #cc9756;
}
.li5:hover .xiala2{
  display: block;
}
.li6:hover .xiala3{
  display: block;
}
//logo及搜索框部分
.nav{
  clear: both;
  height: 150px;
  background: #fff;
  position: relative;
  border-bottom: 1px #ccc solid;
}
.logo{
  float: left;
}
.bg{
  background-image: url(../img/jingling1.png);
  display: inline-block;
  background-position: 0 -305px;
  width: 212px;
  height: 60px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 30px;
}
.nav_right_box{
  overflow: hidden;
  height: 120px;
  position: relative;
}

.nav_input{
    position: absolute;
    left: 138px;
    top: 30px;
    z-index: 1;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CC9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    font-size: 14px;
    width: 442px;
    padding-left: 38px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
}
.nav_seach{
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    top: 30px;
    right: 208px;
}
.shop{
    position: absolute;
    top: 30px;
    right: 0px;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    padding: 8px 0;
}
.shop_img{
  font-size: 18px;
  color:  #CC9756;
  margin-left: 22px;
}
.shop_name{
    color: #CC9756;
    margin-left: 5px;
    margin-top: -1px;
    font-size: 14px;
}
.shop_num{
   font-size: 12px;
   width: 20px;
   height: 20px;
    margin-left: 5px;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    display: inline-block;
    border-radius: 50%;
    background: red;
}
.nav_ul{
  float: left;
}
.nav_ul li{
  float: left;
  margin: 0 48px 0 0;
  border-bottom: 3px solid #cc9756;
  border: none;
  height: 30px;
  position: relative;
}
.nav_ul li a{
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}
.nav_ul li:hover{
  border-bottom: 3px solid #cc9756;

}

.nav_ul li:hover a{
  color: #cc9756;
}
.list1{
  width: 1090px;
  height: 500px;
  background: #333;
}



